@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

@custom-variant no-js {
	&:where(html.no-js *) {
		@slot;
	}
}
.bprogress .bar {
	background: var(--color-orange-600);
}
